.pz_control-panel {
    padding-top: 0.5rem;
}

.pz_control-panel div {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.pz_control-panel button, a {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.pz_btn {
    background-color: #6c757d;
    border-color: #6c757d;
}

.pz_btn:hover, .pz_btn:focus, .pz_btn:active {
    background-color: cadetblue !important;
    border-color: cadetblue !important;
}

.pz_control-panel a {
    color:  #6c757d;
}

.pz_control-panel a:hover {
    color: cadetblue;
}

.pz_heading {
    margin-bottom: 1rem;
}
.pz_grid {
    padding-bottom: 1.5rem;
}

.pz_grid p {
    text-align: center;
}

.pz_grid table {
    font-family: 'Satisfy', cursive;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 1rem;
}

.pz_grid table td {
    width: 10rem;
    height: 10rem;
    text-align: center;
}

.pz_grid table td button {
    width: 80%;
    height: 80%;
    font-size: 70px;
}

.pz_message {
    /*padding: 0.5rem;*/
    position: absolute;
    background-color: khaki;
}
.pz_settings-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 2rem;
}

.pz_settings-page hr {
    width: 100%;
}

.pz_settings-page button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.pz_settings-page a {
    text-decoration: none;
    color: initial;
}

.pz_options {
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.pz_btn-group {
    margin-bottom: 1rem;
}

.pz_radio-label {
    color: #6c757d;
}

.pz_radio-label::before {
    content: 'X';
    font-family: 'Satisfy',cursive;
    font-size: 24px;
    font-weight: bold;
    margin-right: 1rem;
    color: transparent;
}

.pz_radio-btn:checked + .pz_radio-label::before,
.pz_radio-btn:checked + .pz_radio-label,
.pz_radio-label:hover {
    color: cadetblue;
}

.pz_radio-btn {
    display: none;
}
.pz_records-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
 }
 
 .pz_records-page hr {
     width: 100%;
 }
 
 .pz_records-page button {
     margin-right: 0.5rem;
     margin-bottom: 0.5rem;
     padding: 0.5rem;
 }

.pz_records {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    width: 50%;
    border-collapse: collapse;
    vertical-align: middle;
}

.pz_records .size, .moves {
    padding: 10px 20px;
}

.pz_records th {
    border-bottom: 1px grey solid;
}

.pz_records td {
    border-bottom: 1px grey dotted;
}
    
.pz_records .size {
    text-align: center;
}

.pz_records .moves {
    text-align: right;
}

.pz_app {
    min-width: 100%;
    font-size: 1.5rem;
    background-color: linen;
}

.pz_every-heading {
    font-family: 'Satisfy', cursive;
    color: cadetblue;
    margin-top: 1.5rem;
    text-align: center;
}

h1.pz_every-heading {
    font-size: 4rem;
}

h2.pz_every-heading{
    font-size: 3rem;
}

.pz_btn {
    font-size: 1.5rem;
    background-color: #6c757d;
    border-color: #6c757d;
}

.pz_btn:hover, .pz_btn:focus, .pz_btn:active {
    background-color: cadetblue !important;
    border-color: cadetblue !important;
}


